@charset "UTF-8";

    @import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
    @font-face {
        font-family: "roboto";
        src: url(fontes/Roboto-VariableFont_wdth\,wght.ttf);
    }
    body{
        background-color: darkseagreen;
        color: white;
        font-family: sans-serif;
        margin: 0;
    }

    /* :root{
        --color1: darkgreen;
        --color2: lightgreen;
    } */
     /* * { afeta tudo
        margin: 0px;
        padding: 0px;
     } */

    header{
    padding: 20px;
    margin:0;
    min-height: 150px;
    background-image: linear-gradient(to bottom, rgb(14, 136, 14), rgb(31, 64, 31));
    color: white;
    }

    main{
    text-align: center;
    font-family: "roboto";
    color: black;
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.503);

    }
    .titulo{
    margin: 10px;
    text-align: left;
    font-family: "idroid";
    color: rgb(32, 92, 32);
    }

    /* centralizando sem afetar a nav */
    header > h1{
    text-align: center;
    margin-top: 30px;
    font-size: 3em;
    font-weight: normal;
    font-family: 'Bebas Neue';
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.545);
    }
    header > p{
        font-family: "roboto";
        text-align: center;
        font-size: medium;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.545);
    }
    nav > a{
    font-family: "roboto";
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    transition-duration: .5s;
    }
    header a:hover{
        background-color: rgb(51, 96, 51);
    }
    main a{
        text-decoration: none;
        color: darkgreen;
    }
    main a:hover{
        text-decoration: underline;
        background-color: lightgreen;
    }
    main a:visited{
        color: darkgreen;
    }
    main > p{
        text-align: left;
        padding: 20px;
        text-indent: 30px;
        line-height: 2em;
    }
    
    p > strong{
        color: rgb(14, 99, 14);
    }

    main img{
        width: 100%;
    }
    /* classe da imagem da main pequena */
    main img.pequena{
        max-width: 350px;
        margin: auto;
    }
    mark{
        background-color: rgba(41, 144, 41, 0.455);
    }

    h2{
        background-image: linear-gradient(to left, white, lightgreen);   
    }

    #video{
        background-color: rgb(8, 86, 8);
        padding: 20px;
        margin: 0px -20px 0px -20px;
        position: relative;
        /* padding pra nao ficar nenhuma borda preta (video com resolucao 16:9, que é o resultado de 9 dividido por 16) */
        padding-bottom: 56.25%; 
    }
    #video > iframe{
        position: absolute;
        /* distancia top e left entre o frame e a caixa */
        top: 5%;
        left: 5%;
        /* 90% deixa com bordinha verde, 100% deixa full */
        width: 90%; 
        height: 90%;
    }
    
    section{
        background-color: rgb(188, 255, 188);
        border-radius: 9px;
        padding-bottom: 10px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.484);
    }
    section > h1{
        text-align: left;
        padding: 10px;
        font-size: 16px;
        color: white;
        background-color: rgb(79, 167, 79);
        border-radius: 9px 9px 0px 0px;
    }
    section > a{
        color: black;
        text-decoration: none;
    }
    aside > ul{
        list-style-type: '\2714\00A0\00A0';
        list-style-position: inside;
        columns: 2;
    }
    article{
        background-color: white;
        padding-bottom: 10px;
    }

    footer{
        text-align: center;
        background-color: green;
        margin:20px 0px 0px 0px;
        padding: 5px;
        font-size: 0.9em;
    }
        .rodape{
        color: white;
    }